@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}

#menu-btn:checked ~ #menu {
    display: block;
}

.service-card {
    transition: transform 0.3s, cursor 0.3s;
}

.service-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}